<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.automation.day14_Oct_15_2023.TestCases_SeparateClass"/>
      <class name="com.automation.day18.Oct_29_2023.Groups"/>
      <class name="com.automation.day12.Oct_8_2023.HeadlessMode_ChromeOptions"/>
      <class name="com.automation.day13.Oct_14_2023.Enabling_Disabling_Test_Case"/>
      <class name="com.automation.day16.Oct_22_2023.LoginTest"/>
      <class name="com.automation.day14_Oct_15_2023.DataProvider_In_Another_Class"/>
      <class name="com.automation.day13.Oct_14_2023.SoftAssertion_Concepts"/>
      <class name="com.automation.day13.Oct_14_2023.Executing_A_Test_Case_Multiple_Times"/>
      <class name="com.automation.day20.Nov_5_2023.Clicking_Simultaneously_On_Many_Links"/>
      <class name="com.automation.day14_Oct_15_2023.SearchProductTest"/>
      <class name="com.automation.day18.Smoke_Suite_Oct_29_2023.Smoke_LoginTest"/>
      <class name="com.automation.day13.Oct_14_2023.How_To_Handle_An_Alert"/>
      <class name="com.automation.day14_Oct_15_2023.ExcelCode"/>
      <class name="com.automation.day16.Oct_22_2023.RegisterTest"/>
      <class name="com.automation.day14_Oct_15_2023.RegisterTest"/>
      <class name="com.automation.day18.Regression_Suite_Oct_29_2023.Regression_SearchProductTest"/>
      <class name="com.automation.day12.Oct_8_2023.Application_And_Usage_Of_Annotations"/>
      <class name="com.automation.day13.Oct_14_2023.Dependency_Between_TestCases"/>
      <class name="com.automation.day18.Sanity_Suite_Oct_29_2023.Sanity_RegisterTest"/>
      <class name="com.automation.day13.Oct_14_2023.Assignment_RediffLogin"/>
      <class name="com.automation.day14_Oct_15_2023.DataProvider_TN_SameClass"/>
      <class name="com.automation.day12.Oct_8_2023.Annotations_Of_TestNG"/>
      <class name="com.automation.day18.Sanity_Suite_Oct_29_2023.Sanity_SearchProductTest"/>
      <class name="com.automation.day12.Oct_8_2023.Understanding_ChromeOptions"/>
      <class name="com.automation.day9.Sep_30_2023.ClassAssignmentTN"/>
      <class name="com.automation.day9.Sep_30_2023.ValidatingStringMethods"/>
      <class name="com.automation.day12.Oct_8_2023.Assignment3"/>
      <class name="com.automation.day15.Oct_21_2023.SearchProductTest"/>
      <class name="com.automation.day14_Oct_15_2023.LoginTest"/>
      <class name="com.automation.day13.Oct_14_2023.How_To_Run_A_TestCase_Even_If_It_Is_Dependent_On_A_Failed_TestCase"/>
      <class name="com.automation.day12.Oct_8_2023.Assignment2"/>
      <class name="com.automation.day15.Oct_21_2023.RegisterTest"/>
      <class name="com.automation.day13.Oct_14_2023.ClassAssignment_TN_Register"/>
      <class name="com.automation.day12.Oct_8_2023.Priority_Of_Execution"/>
      <class name="com.automation.day20.Nov_5_2023.FlipKart"/>
      <class name="com.automation.day14_Oct_15_2023.Parameterization_Using_TestNGxml_file"/>
      <class name="com.automation.day9.Sep_30_2023.DependenciesOnMethods"/>
      <class name="com.automation.day14_Oct_15_2023.HowToReadFromPropertiesFile"/>
      <class name="com.automation.day18.Smoke_Suite_Oct_29_2023.Smoke_RegisterTest"/>
      <class name="com.automation.day14_Oct_15_2023.DataProvider_Basics"/>
      <class name="com.automation.day12.Oct_8_2023.WhyNotToIntroduceMainMethod"/>
      <class name="com.automation.day14_Oct_15_2023.BatchRunning_TestCases"/>
      <class name="com.automation.day12.Oct_8_2023.AnnotationsClassAssignment"/>
      <class name="com.automation.day12.Oct_8_2023.Speciality_Of_BeforeMethod_And_AfterMethod"/>
      <class name="com.automation.day14_Oct_15_2023.PropertiesFileClassAssignmentRediffLogin"/>
      <class name="com.automation.day15.Oct_21_2023.LoginTest"/>
      <class name="com.automation.day20.Nov_5_2023.Class1_Handling_Multiple_WebElements"/>
      <class name="com.automation.day18.Smoke_Suite_Oct_29_2023.Smoke_SearchProductTest"/>
      <class name="com.automation.day9.Sep_30_2023.Assertions_inTestNG"/>
      <class name="com.automation.day20.Nov_5_2023.Class2_TN_WebElements"/>
      <class name="com.automation.day13.Oct_14_2023.Assertions_Basic_Concepts"/>
      <class name="com.automation.day18.Regression_Suite_Oct_29_2023.Regression_RegisterTest"/>
      <class name="com.automation.day18.Regression_Suite_Oct_29_2023.Regression_LoginTest"/>
      <class name="com.automation.day13.Oct_14_2023.Assertions_Assert"/>
      <class name="com.automation.day11.Oct_7_2023.Program1"/>
      <class name="com.automation.day16.Oct_22_2023.Encapsulation_LoginTest"/>
      <class name="com.automation.day18.Sanity_Suite_Oct_29_2023.Sanity_LoginTest"/>
      <class name="com.automation.day14_Oct_15_2023.DataProvider_Rediff_SameClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
